doctype html

html(lang="tr")

	head

		title Site Title
		meta(charset="utf-8")
		link(rel="stylesheet" href="style/main.css")
		script(src="script/outdatedbrowser.js")
		//- script(src="script/jquery.js")

		<!--[if lt IE 9]>
			script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		<![endif]-->

	body

		//- Start here!

		#outdated

			h6 Modası geçmiş bir tarayıcı kullanıyorsunuz!
			p Bu siteyi düzgün görüntüleyebilmek için tarayıcınızı güncellemelisiniz. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Tarayıcımı Güncelle!</a>
			p.last <a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a>

		script(src="script/main.js")