doctype html

html(lang="en")

	head

		title Welcome to pug!
		meta(charset="utf-8")
		link(rel="stylesheet" href="style/main.css")
		script(src="script/outdatedbrowser.js")
		script(src="script/jquery.js")

	body

		include puglib/header.pug

		ul

			li Salt
			li Sugar
			li Pepper

		h5.styled

			span#test1 Test 1

		.block

		p.small.

			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo porta augue, quis suscipit dolor hendrerit sit amet. Mauris eu lorem ut magna maximus accumsan.

		svg.customizedvector

			use(xlink:href="/img/sprite.svg#blocked")


		script.

			$(document).ready(function() {
				window.test = $('.testsel').SumoSelect({okCancelInMulti:true, selectAll:true });
			});

		<select multiple="multiple" placeholder="Placeholder Text" class="testsel">
			<option selected value="volvo">Volvo</option>
			<option value="saab">Saab</option>
			<option value="mercedes">Mercedes</option>
			<option value="audi">Audi</option>
			<option value="bmw">BMW</option>
		</select>

		include puglib/footer.pug

		#outdated

			h6 Your browser is out-of-date!
			p Update your browser to view this website correctly. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my browser now!</a>
			p.last <a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a>

		script(src="script/main.js")